.register-form-container {
    width: 300px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .form-title {
    font-size: 24px;
    text-align: center;
  }
  .register-form {
    margin-top: 20px;
  }
  .form-group {
    margin: 15px 0;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #00796B;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  
  .submit-button:hover {
    background-color: #005A4A;
  }
  
  .login-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .login-link a {
    text-decoration: none;
    color: #00796B; /* Link color */
    font-weight: bold;
  }
  
  .login-link a:hover {
    color: #005A4A; /* Hover color */
  }
  